<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Student Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css')}}">    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/file_upload.css">
    <style type="text/css">
      .form-control{
        font-size: 1.000rem;
      }
      .form-group label{
       font-size: 1.0125rem; 
      }
      .btn2 {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        margin: 2%;
      }
      h4,h3
      {
        /* font-size:  1.525rem; */
        font-size: 8vw;
      }
      th {
        cursor: pointer;
        font-style: underline;
        text-align: center;
      }
      td {
        text-align: center;
      }
      input{
        text-transform:uppercase;
      }
      input[type=email], select {
        text-transform:lowercase;
      }
      ::placeholder {
        text-transform:lowercase; /* Firefox */
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        text-transform:lowercase;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        text-transform:lowercase;
      }
      .btn-responsive{
        white-space: normal !important;
        word-wrap: break-word;
        padding: 1rem;
        border-radius: 0.7rem;
        margin: 0.1rem;
        color:white;
      }
      .inputgroup_text{
        background-color: #8999a9;
        color: white;
        font-size: 1rem;
      }
      /* .pic {
        margin: 0.1rem;
        display: inline-block;
        vertical-align: middle;
        width: 0; 
        height: 0; 
      }
      */
      .arrow-down {
        border-left: 0.4rem solid transparent;
        border-right: 0.4rem solid transparent;
        border-top: 0.4rem solid #212529;
      }
      .required:after {
        content:" *";
        color: red;
        font-size: 1.0rem;
      }
      @media only screen and (min-width: 600px){
        .add_stud, .edit_stud, .upload_xl_stud { 
          max-width: 100%; 
        }
        .add_stud, .edit_stud {
          width: 90%;
          height: auto;
          padding: 0;
        }

        .upload_xl_stud {
          width: 40%;
          height: auto;
          padding: 0;
        }

        .add_stud-content, .edit_stud-content, .upload_xl_stud-content {
          height: auto;
        }
      }
      @media only screen and (max-width: 600px){
        .add_stud, .edit_stud, .upload_xl_stud { 
          max-width: 100%; 
        }
        .add_stud,.edit_stud{
          width: 90%;
          height: auto;
          padding: 0;
        }
        .upload_xl_stud{
          width: 90%;
        }
      }
      .btn-inverse-info:hover {
        color: #ffffff;
        background-color: #0a4f9d;
        border-color: #0a4f9d;
      }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico')}}" />
    <script src="{{ url_for('static', filename='js/3.5.1_jquery.min.js')}}"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css')}}">
    <link href="{{ url_for('static', filename='css/toastr.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/loader.css')}}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/toastr.js')}}"></script>
</head>

<body>
  {% include "loader.html" ignore missing %}
  {% include "student/add_stud_modal.html" ignore missing %}
  {% include "student/edit_stud_modal.html" ignore missing %}
  {% include "upload_excel_modal.html" ignore missing %}
  <div class="modal fade" id="confirm">
    <div class="modal-dialog">
      <div id="mod_color" class="modal-content">
        <!-- Modal Header -->
        <!-- Modal body -->
        <div class="modal-body" style="color: white;background: linear-gradient(to right, #cb2d3e, #a12023)">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="row" style="display: contents;text-align: center;">
            <div class="col-md-6">
              <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
            <div class="col-md-6">
              <button type="button" data-dismiss="modal" class="btn btn-inverse-info btn-fw" onclick="delete_student()" id="delete" value="">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
    {% include "nav.html" ignore missing %}
    
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
      {% include "side_nav.html" ignore missing %}
        <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper" style="background: #d8e3e7;">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary2 text-white mr-2"><i class="mdi mdi-account-network"></i></span>{{stud_type}} Students 
            </h3>
            <nav aria-label="breadcrumb">
              <ul class="breadcrumb">
                <li class="breadcrumb-data active" aria-current="page">
                  <span></span> </i>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row" style="margin-top: 2%;">
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">
                    <div class="row" style="text-align: center;">
                      <div class="col-sm-12 col-md-6" style="text-align: left;">
                        <div class="form-outline mb-2">
                          <input type="search" class="form-control" id="myInput" placeholder="Search..." style="width: 100%;">
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-2">
                        <button class="btn btn-gradient-green btn-fw btn-responsive" id="btnExport" style="background: linear-gradient(to right, #46c35f, #2aa260);" onclick="export_excel(this)">Export to Excel<i class="mdi mdi-file-excel" aria-hidden="true" style="padding-left: 5px;font-style: bold;font-weight: 900;"></i></button>
                        {% if session['data_master_mode'] == 'student' %}
                            {% if session['dept'] == 'IT' %}
                                {% if stud_type == 'First-Year' %}
                                <button href="{{ url_for('static', filename='spreadsheets/Download/IT_student_First-Year_master.xlsx')}}" id="export_excel_down" target="_blank" download hidden>IT_student_First-Year_master.xlsx</a>
                                {% elif stud_type == 'Second-Year' %}
                                <a href="{{ url_for('static', filename='spreadsheets/Download/IT_student_Second-Year_master.xlsx')}}" id="export_excel_down" target="_blank" download hidden >IT_student_Second-Year_master.xlsx</a>
                                {% elif stud_type == 'Third-Year' %}
                                <a href="{{ url_for('static', filename='spreadsheets/Download/IT_student_Third-Year_master.xlsx')}}" id="export_excel_down" target="_blank" download hidden>IT_student_Third-Year_master</a>
                                {% elif stud_type == 'Last-Year' %}
                                <a href="{{ url_for('static', filename='spreadsheets/Download/IT_student_Last-Year_master.xlsx')}}" id="export_excel_down" target="_blank" download hidden>IT_student_Last-Year_master.xlsx</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        
                      </div>
                      <div class="col-sm-12 col-md-2">
                        <button class="btn btn-gradient-primary btn-fw btn-responsive" id="btn_excel_upload" style="background: linear-gradient(to right, #485563, #29323c);" data-toggle="modal" data-target="#Upload_xl_stud" >Upload Excel<i class="mdi mdi-upload" aria-hidden="true" style="padding: 5px;font-style: bold;font-weight: 900;"></i></button>
                      </div>
                      <div class="col-sm-12 col-md-2" >
                        <button class="btn btn-gradient-primary btn-fw btn-responsive" id="btnAdd" style="background: linear-gradient(to right, #cb2d3e, #a12023);" data-toggle="modal" data-target="#Add_stud">Add Student<i class="mdi mdi-account-plus " aria-hidden="true" style="padding: 5px;font-style: bold;font-weight: 900;"></i></button>
                      </div>                                    
                    </div> 
                  </div>                              
                  <div class="table-responsive" style="margin-top: 2%;">
                    <table class="table table-striped table-sm" width="100%" style="border: 0.1rem solid #d8e3e7;" id="myTable_whole">
                      <thead>
                        <tr>
                          <th> S.No </th>
                          <th> Name </th>
                          <th> Roll </th>
                          <th> Batch </th>
                          <th> Gender </th> 
                          <th> Student ID </th>
                          <th> KT </th>
                          <th> Email-Id </th>
                          <th> Contact </th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody id="myTable">
                        {% if stdlen!=0 %}
                          <!-- <form id="stud_det" action="/quiz/check_answer/" method="post">
                            <input type="hidden" name="student_id" id="stud_id" value="">
                          </form> -->
                          {% for j in range(stdlen) %}
                          {% set student = students[j] %}
                          <tr>
                            <td> {{(j+1)}}. </td>
                            <td>{{student.F_name}} {{student.M_name}} {{student.L_name}}</td>
                            <td> {{student.roll}} </td>
                            <td> {{student.batch}}</td>
                            {% if student.gender=='M'  %}
                            <td> Male </td>
                            {% elif student.gender=='F' %}
                            <td> Female </td>
                            {% else %}
                            <td> Others </td>
                            {% endif %}
                            <td> {{student.S_id}} </td>
                            <td> {{student.KT}} </td>
                            <td><a href="mailto:{{student.S_email}}" style="color: inherit"> {{student.S_email}} </a></td>
                            <td><a href="tel:{{student.S_num}}" style="color: inherit"> {{student.S_num}} </a></td>
                            <td><button type="button" class="btn btn-gradient-success btn-rounded btn-icon" onclick="edit_modal_open('{{student.S_id}}')" data-toggle="modal" data-target="#Edit_stud" title="Edit"><i class="mdi mdi-lead-pencil"></i></button></td>
                            <td><button type="button" class="btn btn-gradient-danger btn-rounded btn-icon" onclick="modal_open('{{student.S_id}}')" data-toggle="modal" data-target="#confirm" title="Delete"><i class="mdi mdi-delete"></i></button> </td>
                          </tr>
                          {% endfor %}
                        {% else %}
                          <tr>
                            <td colspan="11" style="padding: 1rem;text-align: center;font-weight: 900;">No Student Added Yet!</td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer" style="background: #d8e3e7;">
            <!-- <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div> -->
        </footer>
          <!-- partial -->
      </div>
        <!-- main-panel ends -->
    </div>
      <!-- page-body-wrapper ends -->
  </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script> -->
  <script  src="{{ url_for('static', filename='js/function.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js')}}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js')}}"></script>
  <script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> -->
  <script src= "{{ url_for('static', filename='js/jquery.table2excel.min.js')}}"></script> 
  <!-- <script src= "//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>  -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}" type="text/javascript"></script> -->
  <script src="{{ url_for('static', filename='js/1.11.3_jquery.dataTables.min.js')}}" type="text/javascript"></script>
  
  <script type="text/javascript">
  $(document).ready(function () {
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
    var records = parseInt("{{stdlen}}");
    if(records > 0) {
      $('#myTable_whole').dataTable( {
        "bFilter": false,
        "bInfo": true,
        "ordering": true,
        "bSort":true,
        "bPaginate":true,
        "pagingType": "full_numbers",
        'columnDefs': [ {
          'targets': [7,8,9,10], /* column index */
          'orderable': false, /* true or false */
        }]
      });
    }
    $(document).ajaxSend(function(){
      $('.ajax-loader').css("visibility", "visible");
    });
    $(document).ajaxComplete(function(){
      $('.ajax-loader').css("visibility", "hidden");
    });
    toastr.options = {
      "closeButton": true,
      "debug": true,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "showDuration": "300",
      "hideDuration": "1000000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }
    $('.ajax-loader').css("visibility", "hidden");
    var msg_there = "{{msg.there}}";
    // alert(msg_there);
    if(msg_there=="1"){
      var msg_mode = "{{msg.mode}}";
      if(msg_mode=="1"){
        toastr["success"]("{{msg.title}}", "Success");
      }
      else if(msg_mode=="0"){
        toastr["error"]("{{msg.title}}", "Error");
      }
      else if(msg_mode=="2"){
        toastr["warning"]("{{msg.title}}", "Warning");
      }
    }
  });

  function edit_modal_open(s_id) {
    var dat = {stud_id: s_id};  
    $.ajax({
      url: '/admin/fetch_student/',
      data: dat,
      type: 'POST',
      success: function(data){
        response = JSON.parse(data)
        console.log(response);
        if(response.there ==1){ // if true (1)
          $("input[name='e_fname']").val(response.F_name);
          $("input[name='e_mname']").val(response.M_name);
          $("input[name='e_lname']").val(response.L_name);
          $("input[name='e_mail']").val(response.S_email);
          $('#select_edit_gender').val(response.gender);
          $("input[name='e_stud_id']").val(response.S_id);
          $("input[name='e_roll']").val(response.roll);
          $("input[name='e_batch']").val(response.batch);
          $("input[name='e_mob_num']").val(response.S_num);
          $("input[name='e_kt']").val(response.KT);
          $("#filename").text(response.image);
          $('#select_e_semester').val(String(response.current_sem));
          $("input[name='e_p_mail']").val(response.P_email);
          $("input[name='e_p_mob_num']").val(response.P_num);
          $("input[name='e_first_login']").val(response.first_login);
          // $("#Edit_stud").modal('show');
        }
        else{
          alert("Record Not Present!");
        }
      },
      error: function(error){
        console.log(error);
        alert("Some error");
      }
    });
  }

  function delete_student() {
    // alert($("#delete").val());
    var dat = {stud_id:$("#delete").val()};  
    $.ajax({
      url: '/admin/delete_student/',
      data: dat,
      type: 'POST',
      success: function(data){
        response = JSON.parse(data)
        console.log(typeof response);
        if(response.deleted == 1){ // if true (1)
          location.reload();
        }
        else
        {
          toastr["error"]("Failed to Delete Record!", "Error");
        }
      },
      error: function(error){
        console.log(error);
        toastr["error"]("Some error", "Error");
      }
    });
  }

  $("form#upload_excel_form").submit(function(e) {
    e.preventDefault();    
    // alert("Called");
    var formData = new FormData(this);
    // alert(formData);
    console.log(formData)
    $.ajax({
      url: '/admin/upload_excel/',
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function (data) {
        response = JSON.parse(data)
        console.log(typeof response);
        if(response.file_recieved == 1) { 
          if(response.file_error==0) {
            succ_rec = response.total_rec - response.failed_rec;
            // alert(response.total_rec)
            $('.close').click(); 
            $('#total_rec').html("Out of <b>"+response.total_rec+"</b> records:");
            $('#fail_rec').html("<b>"+response.failed_rec+"<b> records failed!");
            $('#succ_rec').html("<b>"+succ_rec+"<b> records successfully Inserted!");
            if(response.failed_rec==0) {
              $("#excel_file").remove();
            }
            var show_result_modal = document.getElementById('show_result');
            show_result_modal.className="modal fade show"; 
            show_result_modal.style.display = "block";
            $('#close_report_excel').click(function() {
              show_result_modal.style.display = "none";
              show_result_modal.className="modal fade";
              window.location.reload();
            });
          }
          else {
            alert("Something wrong with the file, kindly follow the format!");
          }
        }
        else {
          alert("Unable to upload the file!");
        }
      },
      error: function(error){
        console.log(error);
        alert("Some error");
      }
    });
  });

  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)){
      alert("Enter numbers only.");
      return false;
    }
    return true;
  }
  function isAlphabetKey(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (charCode > 31 && (charCode < 65 || charCode > 90) &&
        (charCode < 97 || charCode > 122)) {
        alert("Enter letters only.");
        return false;
      }
      return true;
  }
  
  function validateEmail(email,mode) { 
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if(re.test(email.value)){
        //Email valid. Procees to test if it's from the right domain (Second argument is to check that the string ENDS with this domain, and that it doesn't just contain it)
        if(email.value.indexOf("@somaiya.edu", email.value.length - "@somaiya.edu".length) !== -1) {
          return true;
        }
        else {
          alert("Email address must be of Somaiya!");
          if(mode=='add')
            document.Add_Student_form.mail.focus();
          else if(mode=='edit')
            document.Edit_Student_form.mail.focus();
          return false;
        }
    }
    else {
      alert("Invalid Email Id");
      email.focus();
      return false;
    }
  }
  function validateSize(input,id) {
    const oFile = document.getElementById(id).files[0]; // <input type="file" id="fileUpload" accept=".jpg,.png,.gif,.jpeg"/>
    if (oFile.size > 2097152) { // 2 MiB for bytes.
      alert("File size must under 2MiB!");
      return;
    }
    else
    {
      var file = $("#"+id).prop('files')[0]  
      $('#filename').text(file.name)
    }
  }
  var secondCall = false;
  function beforesubmit(mode) {
    // alert("Before submit");
    if (secondCall) {
      return;
    }
    if(mode=='add') {
      var email = document.Add_Student_form.mail;
      var fname = document.Add_Student_form.fname;
      var lname = document.Add_Student_form.lname;
      var mname = document.Add_Student_form.mname;
      var kts = document.Add_Student_form.kt;
      var gender = document.Add_Student_form.gender;
      var roll = document.Add_Student_form.roll;
      var batch = document.Add_Student_form.batch;
      var mob_num = document.Add_Student_form.mob_num;
      var sem = document.Add_Student_form.semester;
      var p_email = document.Add_Student_form.p_mail;
      var p_mob_num = document.Add_Student_form.p_mob_num;
      var stud_id = document.Add_Student_form.stud_id;
    }
    else if(mode=='edit') {
      // alert(mode);
      var email = document.Edit_Student_form.e_mail;
      var fname = document.Edit_Student_form.e_fname;
      var lname = document.Edit_Student_form.e_lname;
      var mname = document.Edit_Student_form.e_mname;
      var kts = document.Edit_Student_form.e_kt;
      var gender = document.Edit_Student_form.e_gender;
      var roll = document.Edit_Student_form.e_roll;
      var batch = document.Edit_Student_form.e_batch;
      var mob_num = document.Edit_Student_form.e_mob_num;
      var sem = document.Edit_Student_form.e_semester;
      var p_email = document.Edit_Student_form.e_p_mail;
      var p_mob_num = document.Edit_Student_form.e_p_mob_num;
      var stud_id = document.Edit_Student_form.e_stud_id;
    }
    
    // alert(p_email.value)
    // alert(fname+" "+mname+" "+lname);
    if(fname.value== "" || lname.value== "" || mname.value=="" || kts.value=="" || email.value=="" || gender.value.trim()=="" || roll.value=="" || batch.value=="" || mob_num.value=="" || sem.value.trim()=="" || p_email.value=="" || p_mob_num.value=="" || stud_id.value=="")
    {
      if(fname.value== "") {
        alert("First Name cannot be blank!");
        fname.focus();
      }
      else if(mname.value== "") {
        alert("Middle Name cannot be blank!");
        mname.focus();
      }
      else if(lname.value== "") {
        alert("Last Name cannot be blank!");
        lname.focus();
      }
      else if(gender.value.trim() == "")  {
        alert("Please select Gender!");
        gender.focus();
      }
      else if(email.value== "") {
        alert("Email Address cannot be blank!");
        email.focus();
      }
      else if(kts.value== "") {
        alert("Please enter 0 if not any!");
        kts.focus();
      }
      else if(roll.value== "") {
        alert("Roll Number cannot be blank!");
        roll.focus();
      }
      else if(batch.value== "") {
        alert("Batch cannot be blank!");
        batch.focus();
      }
      else if(mob_num.value== "") {
        alert("Contact Number cannot be blank!");
        mob_num.focus();
      }
      else if(sem.value.trim()== "") {
        alert("Please Select the Semester!");
        sem.focus();
      }
      else if(p_email.value== "") {
        alert("Parent's Email Address Cannot be blank!");
        p_email.focus();
      }
      else if(p_mob_num.value== "") {
        alert("Parent's Contact Number cannot be blank!");
        p_mob_num.focus();
      }
      else if(stud_id.value== "") {
        alert("Student ID cannot be blank!");
        stud_id.focus();
      }
      return false; 
    }
    var email_check = validateEmail(email,mode);
    // alert(email_check)
    if(email_check) {
      // alert("Checking!");
      var dat = {mail:email.value, stud_id: stud_id.value,data_edit_mode: "student"};  
      if(mode=='add') {
        $.ajax({
          url: '/admin/check_record_present/',
          data: dat,
          type: 'POST',
          success: function(data){
            response = JSON.parse(data)
            console.log(typeof response);
            if(response.present == 1){ // if true (1)
              alert("Record already present, therefore cannot Add!");
              return false;
            }
            else
            {
              alert("Record Not Present!");
              secondCall = true;
              $('#Add_Student_form').submit();  
            }
          },
          error: function(error){
            console.log(error);
            // alert("returning false1");
            event.preventDefault();
            return false;
          }
        });
      }
      else if(mode=='edit') {
        // alert("AJAX edit");
        $.ajax({
          url: '/admin/check_student_present_edit/',
          data: dat,
          type: 'POST',
          success: function(data) {
            response = JSON.parse(data)
            console.log(response);
            if(response.s_id_present == 1 || response.mail_present == 1) { // if true (1)
              if(response.mail_present == 1) {
                alert("Other record holding the same E-mail ID!");
                email.focus();
              } 
              else {
                alert("Other record holding the same Student ID!");
                stud_id.focus();
              }
              return false;
            }
            else if(response.s_id_present == 0 && response.mail_present == 0) {
              alert("Record Not Present!");
              secondCall = true;
              $('#Edit_Student_form').submit();  
            }
          },
          error: function(error) {
            console.log(error);
            // alert("returning false1");
            event.preventDefault();
            return false;
          }
        });
      }
      // alert("returning false2");
      return false;
    }
    else
    {
      // alert("returning false3");
      return false;
    }
  }

  function export_excel() {
    // var table= document.getElementById('myTable_whole');
    // $("#myTable_whole").table2excel({
    //   exclude: ".noExport",
    //   filename: '{{stud_type}}'+'_Students_MasterData',
    // });
    var dat = {mode:"{{stud_type}}",data_master_mode:"student"}; 
    $.ajax({
      url: '/admin/export_excel/',
      data: dat,
      type: 'POST',
      success: function (data) {
        response = JSON.parse(data)
        console.log(typeof response);
        if(response.data_got == 1) { 
          if(response.file_created==1) {
            var url = document.getElementById('export_excel_down').href;
            window.location = url;
          }
          else {
            alert("Something wrong with the file, kindly follow the format!");
          }
        }
        else {
          alert("Unable to upload the file!");
        }
      },
      error: function(error){
        console.log(error);
        alert("Some error");
      }
    });
  }


  </script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    
  <script src="{{ url_for('static', filename='js/common_masters.js')}}"></script>
  <script src="{{ url_for('static', filename='js/off-canvas.js')}}"></script>
  
  <script src="{{ url_for('static', filename='js/misc.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="{{ url_for('static', filename='js/todolist.js')}}"></script>
    <!-- End custom js for this page -->
</body>

</html>