<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}"/>
  </head>
  <body>
  <!-- Footer -->
  <footer id="footer" class="page-footer font-small indigo">
  
  
    <!--<div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
  
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Products</a>
        </h6>
      </div>
  
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Awards</a>
        </h6>
      </div>
  
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
  
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
    </div>-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4" style="padding:0px 5px;margin-top:10px;">
  
      <!-- Grid column -->
      <div class="footer-left"><!--Left-->
      <img src="{{ url_for('static', filename='images/logo.jpg') }}" style="border-radius: 5%;"><br><br>
      <h6><a target="_blank" href="https://kjsieit.somaiya.edu/en">K. J. Somaiya Institute of Engineering & Information Technology, Sion(East), Mumbai-4000 022</a></h6>
      <a class="logo123" href="tel:91-22-24061408">91-22-24061408</a><br>
      <a class="logo123" href="tel:91-22-24061403">91-22-24061403</a><br>
      <a  class="logo123"href="mailto:info.tech@somaiya.edu">info.tech@somaiya.edu</a>
      </div>
      <!--<div class="vertical"></div>-->
      <!-- Grid column -->
      <div class="footer-center">
        <!-- Footer Links -->
        <div class="container footerlinks">
           <!-- Grid row--><br>
           <div class="row pb-3">
  
        <!-- Grid column -->
        <div class="col-md-12">
  
        <div class="mb-3 flex-center">
  
          <!-- Facebook -->
          <a target="_blank" href="https://www.facebook.com/kjsieitofficial" class="soci facebook">
            <i class="fa fa-facebook-square fa-2x"> </i>
          </a>
           <!--Instagram-->
           <a target="_blank" href="https://www.instagram.com/kjsieit_22/" class="soci instagram">
            <i class="fa fa-instagram fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a target="_blank" href="https://twitter.com/kjsieit1" class="soci twitter">
            <i class="fa fa-twitter fa-2x"> </i>
          </a>
          <!--YouTube -->
          <a target="_blank" href="https://www.youtube.com/kjsieitofficial" class="soci youtube">
            <i class="fa fa-youtube fa-2x"> </i>
          </a>
          <!--Linkedin-->
          <a target="_blank" href="https://www.linkedin.com/in/kjsieit" class="soci linkedin">
            <i class="fa fa-linkedin fa-2x"> </i>
          </a>
        </div>
        </div>
        <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
        </div>
        <!-- Footer Links -->
        <p><b>Prepared By</b><br>
        <a class="logo123"target="_blank" href="#"><b>Department of Information Technology<br>2021-Ongoing</b></a>
  
      </div>
      <div class="footer-right">
      <img src="{{ url_for('static', filename='images/trust.jpg') }}" style="border-radius: 5%;"><br><br>
      <a href="https://goo.gl/maps/SfT5E7aAy1r2kvvs6"><b>Somaiya Ayurvihar Complex,<br>Eastern Express Highway,<br>Near Everard Nagar, Sion(East),<br>Mumbai-4000 022</b></a>
      </div>
      <div>
        <p style="font-size:15px;">Guided By: <a target="_blank" href="#">Prof. Nasim Banu Shah&nbsp;</a></p>
      <p style="font-size:15px;margin-left: 1rem;">Developed By: <a target="_blank" href="#">Bhavya Mistry,&nbsp;</a><a target="_blank" href="#">Het Parekh,&nbsp;</a> <a target="_blank" href="#">Krish Desai.&nbsp;</a></p>
  
      </div>
    </div>
  
  <!--
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div> -->
  
  
  </footer>
  <script>
  
      document.onkeydown = function (e) {
          if (event.keyCode == 123) {
            alert("You Can not Do This!");
            return false;
          }
          if (e.ctrlKey && e.shiftKey && (e.keyCode == 'I'.charCodeAt(0) || e.keyCode == 'i'.charCodeAt(0))) {
            alert("You Can not Do This!");
            return false;
          }
          if (e.ctrlKey && e.shiftKey && (e.keyCode == 'C'.charCodeAt(0) || e.keyCode == 'c'.charCodeAt(0))) {
            alert("You Can not Do This!");
            return false;
          }
          if (e.ctrlKey && e.shiftKey && (e.keyCode == 'J'.charCodeAt(0) || e.keyCode == 'j'.charCodeAt(0))) {
              alert("You Can not Do This!");
            return false;
          }
          if (e.ctrlKey && (e.keyCode == 'U'.charCodeAt(0) || e.keyCode == 'u'.charCodeAt(0))) {
              alert("You Can not Do This!");
            return false;
          }
          if (e.ctrlKey && (e.keyCode == 'S'.charCodeAt(0) || e.keyCode == 's'.charCodeAt(0))) {
              alert("You Can not Do This!");
            return false;
          }
      }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>