<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Check Scores </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css')}}">    
    <link rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
      .form-control{
        font-size: 1.000rem;
      }
      .form-group label{
       font-size: 1.0125rem; 
      }
      .btn2 {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        margin: 2%;
      }
      .option_dv{
        display: block;
      }
      .spannning_corr {
        margin-left: 2%;
        color: #22bb33;
        font-size: 1.325rem;
      }
      .spannning_err {
        margin-left: 2%;
        color: #bb2124;
        font-size: 1.325rem;
      }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico')}}" />
    <link href="{{ url_for('static', filename='css/loader.css')}}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function message() {
          // alert("Body loaded!");
          var msg = "{{message}}";
          // alert("{{data}}");
          if(msg!="")
          {
            $("#myModal").modal();
            var myModal = $("#myModal");
            $("#modbod").text(msg);
            clearTimeout(myModal.data('hideInterval'));
            myModal.data('hideInterval', setTimeout(function(){
                myModal.modal('hide');
            }, 3000));
          }
        }
    </script>
</head>

<body onload="message()">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content" style="background-color: #C30;">
          
            <!-- Modal Header -->
            <div class="modal-header" style="color: white;border-bottom-color: gray;">
              <h4 class="modal-title">Validation Message</h4>
              <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body" style="color: white;">
              <h4 id="modbod"></h4>
            </div>
            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->
          </div>
        </div>
    </div>
    {% include "loader.html" ignore missing %}
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        {% include "nav.html" ignore missing %}
        
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            {% include "side_nav.html" ignore missing %}
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper" style="background: #d8e3e7;">
                    <div class="page-header">
                      <div style="width: 20%;padding-left: 2%;padding-top: 2%;">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary2 text-white mr-2"><i class="mdi mdi-pencil"></i></span>Quiz 
                        </h3>
                      </div>
                      <div style="width: 80%; margin-left:auto; margin-right:0;">
                        <div class="row">
                          <div class="col-md-12 grid-margin">
                            <div class="card content pull-right" style="position: relative;border: 1px solid black;border-radius: 7%;float: right;text-align: center;">
                              <div class="card-body" style="padding: 0.500rem;">
                                <h4 class="card-title">Total Score: </h4>
                                <p id="demo" style="font-size: 1.325rem;font-style: bold;">{{score['score']}} / {{score['total_points']}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 grid-margin">
                      {% if msg!="" %}
                        <div class="card" style="width: 100%;margin-left: 0%;margin-right: 10%;">
                          <div class="card-body">
                            <h4 class="card-title">Preview Questions</h4>
                            <p class="card-description">{{msg}}</p>
                          </div>
                        </div>
                      <!-- </div>
                      </div> -->
                      {% else %}
                        {% for question in ques %}
                        {% set ques_no = loop.index %}
                          <div class="card" style="width: 100%;margin-left: 0%;margin-right: 10%;margin-bottom: 5%;">
                            <div class="card-body">
                              <!-- <h4 class="card-title">Q. {{question.q_no}}</h4> -->
                              <div class="card-title">
                                <div class="row">
                                  <div class="col-md-6">Q. {{ ques_no }}</div>
                                  <div class="col-md-6" style="text-align: right;">
                                    <div>Points</div>
                                    {% if attempted==0 %}
                                      <h4>0 / {{ question.points }}</h4>
                                    {% else %}
                                      <h4>{{ question.got_point }} / {{ question.point }}</h4>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                              <p class="card-description"></p>
                              <form class="forms-sample mt-3" id="quiz_det{{ ques_no }}">
                                  <div class="row">
                                    <div style="width: 83%;">
                                      <div class="col-md-12">
                                        <div class="form-group">
                                          <label for="exampleInputUsername1">Question</label>
                                          <textarea class="form-control" name="ques{{ ques_no }}" id="quiz_title" rows="5" disabled>{{question.ques}}</textarea>
                                        </div>
                                      </div>
                                    </div>
                                    <div style="width: 17%;text-align: center;font-size: 1.572rem;">
                                      <div class="col-md-12">
<!--                                         <h4>Point</h4> -->
                                        <button type="button" class="btn2" style="font-size: 12px;color: black;background-color: lightgray;" onclick="hide_show('{{ques_no}}')" title="show" id="hs{{option}}"><i id="icon{{ques_no}}" class="fa fa-arrow-down"></i></button>
                                        
                                        <!-- onclick="hide_show('{{ques_no}}')"                                         -->
                                      </div>
                                    </div>
                                  </div>
                                  {% if question.ans_type==0 %}
                                  <div class="option_dv" id="option_div{{ques_no}}" style="display: none">
                                  {% if question.opt1!='-' %}
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-check">
                                          <label class="form-check-label" style="font-size: 1.025rem;">
                                            {% if question.answered == 'option1' %}    
                                            <input type="radio" class="form-check-input" name="option_select" value="{{ques_no}}" id="optionRadios{{ques_no}}" onclick="return false" checked>
                                            {% else %}
                                            <input type="radio" class="form-check-input" name="option_select" value="{{ques_no}}" id="optionRadios{{ques_no}}" onclick="return false">
                                            {% endif %}
                                            <i class="input-helper"></i>
                                            {{question.opt1}}
                                            {% if question.correct_opt == 'option1' %}
                                            <span class="spannning_corr"><i class="fa fa-check" aria-hidden="true"></i></span>
                                            {% elif question.correct_opt != question.answered and question.answered == 'option1'%}
                                            <span class="spannning_err"><i class="fa fa-times" aria-hidden="true"></i></span>
                                            {% endif %}
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                                  {% if question.opt2!='-' %}
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-check">
                                          <label class="form-check-label" style="font-size: 1.025rem;">
                                            {% if question.answered == 'option2' %}
                                            <input type="radio" class="form-check-input" name="option_select" value="{{ques_no}}" id="optionRadios{{ques_no}}" onclick="return false" checked>
                                            {% else %}
                                            <input type="radio" class="form-check-input" name="option_select" value="{{ques_no}}" id="optionRadios{{ques_no}}" onclick="return false">
                                            {% endif %}
                                            <i class="input-helper"></i>
                                            {{question.opt2}}
                                            {% if question.correct_opt == 'option2' %}
                                            <span class="spannning_corr"><i class="fa fa-check" aria-hidden="true"></i></span>
                                            {% elif question.correct_opt != question.answered and question.answered == 'option2'%}
                                            <span class="spannning_err"><i class="fa fa-times" aria-hidden="true"></i></span>
                                            {% endif %}
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                                  {% if question.opt3!='-' %}
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-check">
                                          <label class="form-check-label" style="font-size: 1.025rem;">
                                            {% if question.answered == 'option3' %}
                                            <input type="radio" class="form-check-input" name="option_select" value="{{ques_no}}" id="optionRadios{{ques_no}}" onclick="return false" checked>
                                            {% else %}
                                            <input type="radio" class="form-check-input" name="option_select" value="{{ques_no}}" id="optionRadios{{ques_no}}" onclick="return false">
                                            {% endif %}
                                            <i class="input-helper"></i>
                                            {{question.opt3}}
                                            {% if question.correct_opt == 'option3' %}
                                            <span class="spannning_corr"><i class="fa fa-check" aria-hidden="true"></i></span>
                                            {% elif question.correct_opt != question.answered and question.answered == 'option3'%}
                                            <span class="spannning_err"><i class="fa fa-times" aria-hidden="true"></i></span>
                                            {% endif %}
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                                  {% if question.opt4!='-' %}
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-check">
                                          <label class="form-check-label" style="font-size: 1.025rem;">
                                            {% if question.answered == 'option4' %}
                                            <input type="radio" class="form-check-input" name="option_select" value="{{ques_no}}" id="optionRadios{{ques_no}}" onclick="return false" checked>
                                            {% else %}
                                            <input type="radio" class="form-check-input" name="option_select" value="{{ques_no}}" id="optionRadios{{ques_no}}" onclick="return false">
                                            {% endif %}
                                            <i class="input-helper"></i>
                                            {{question.opt4}}
                                            {% if question.correct_opt == 'option4' %}
                                            <span class="spannning_corr"><i class="fa fa-check" aria-hidden="true"></i></span>
                                            {% elif question.correct_opt != question.answered and question.answered == 'option4'%}
                                            <span class="spannning_err"><i class="fa fa-times" aria-hidden="true"></i></span>
                                            {% endif %}
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  {% endif %}
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <label for="exampleFormControlSelect3">Correct Option:</label>
                                        <select class="form-control form-control-sm" name="correct_opt" id="correct_opt" style="width: 50%;color:black;" disabled>
                                          {% if question.correct_opt=="option1" %}
                                          <option value="option1" selected>{{question.opt1}}</option>
                                          {% elif question.correct_opt=="option2" %}
                                          <option value="option2" selected>{{question.opt2}}</option>
                                          {% elif question.correct_opt=="option3" %}
                                          <option value="option3" selected>{{question.opt3}}</option>
                                          {% elif question.correct_opt=="option4" %}
                                          <option value="option4" selected>{{question.opt4}}</option>
                                          {% endif %}
                                          
                                        </select>
                                      </div>
                                    </div>
                                    {% if session['ques_timer']==1 %}
                                    <div class="col-md-2">
                                      <div class="form-group" style="text-align: center;">
                                        <label for="exampleFormControlSelect3">Time Taken</label>
                                        <input type="text" id="mcq_hrs" class="mcq form-control" value="" name="hrs" style="width: 100%;" readonly>
                                      </div>
                                    </div>
                                    {% endif %}
                                   </div>
                                 </div>
                                {% elif question.ans_type==1 %}
                                <div class="option_dv" id="option_div{{ques_no}}" style="display: none;">
                                  <div class="row">
                                    <div class="col-md-8">
                                      <div class="form-group">
                                        <label for="exampleInputUsername1">Answer Written</label>
                                        <textarea class="one form-control" name="ans{{ ques }}" id="answered" rows="2" readonly>{{question.answered}}</textarea>
                                      </div>
                                    </div>
                                  </div>
                                  {% if session['ques_timer']==1 %}
                                  <div class="row"> 
                                    <div class="col-md-2">
                                      <div class="form-group" style="text-align: center;">
                                        <label for="exampleFormControlSelect3">Time Taken</label>
                                        <input type="text" id="mcq_hrs" class="mcq form-control" value="" name="hrs" style="width: 100%;" readonly>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}
                                </div>
                                {% endif %}
                              </form>
                            </div>
                            {% set ques_no = ques_no + 1 %}
                          </div>
                          {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer" style="background: #d8e3e7;text-align: center;">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="button" onclick="ok()" class="btn btn-gradient-primary mr-2" style="margin: 5%;">Ok</button>
                    </div>
                  </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js')}}"></script>
    <script src="{{ url_for('static', filename='js/subject.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script> -->
    <script type="text/javascript">
      $(document).ready(function () {
        $('.ajax-loader').css("visibility", "hidden");
      });
      function ok()
      {
        
        var base_url = window.location.origin;
        // alert(base_url);
        redirect_url = base_url+'/student/quiz_score/';
        // alert(redirect_url);
        window.location.replace(redirect_url);
        // alert(base_url);
        document.getElementById("quiz_det").action = "/student/quiz_score/"; 
      }
      function hide_show(d_num)
      {
        var mydiv = document.getElementById('option_div'+d_num);
        if (mydiv.style.display === 'block' || mydiv.style.display === '')
        {
          mydiv.style.display = 'none';
          document.getElementById('icon'+d_num).className = "fa fa-arrow-down";
          document.getElementById('icon'+d_num).title = "show";
        }
          
        else{
          mydiv.style.display = 'block';
          document.getElementById('icon'+d_num).className = "fa fa-arrow-up";
          document.getElementById('icon'+d_num).title = "hide";
        }
      }


    </script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <!-- <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js')}}"></script> -->
    <script src="{{ url_for('static', filename='js/off-canvas.js')}}"></script>
    <script src="{{ url_for('static', filename='js/hoverable-collapse.js')}}"></script>
    <script src="{{ url_for('static', filename='js/misc.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
    <script src="{{ url_for('static', filename='js/todolist.js')}}"></script>

</body>

</html>